.filterTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  margin-bottom: 10px;
}
.resultTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  margin-bottom: 10px;
}
.line {
  border: 0;
  outline: 0;
  margin-bottom: 45px;
  background: #eaeaea;
  height: 1px;
}
