.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #363636;
  opacity: 0.6;
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}
.calendarIcon {
  margin-bottom: 2px;
}
.articleImage {
  height: 217px;
  object-fit: cover;
}
.articleTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #363636;
  margin-bottom: 20px;
}
.articleDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #363636;
}
.buttonMore {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: normal;
  text-transform: lowercase;
  &:first-letter {
    text-transform: capitalize;
  }
  line-height: 150%;
  color: #363636;
  margin-right: 6px;
}
